@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.DynamicModules.Model
@model List<DynamicContent>

<div class="mu-gallery-content">
	<div class="mu-gallery-body">
		<ul class="row">
			@foreach (var item in Model)
			{
				@RenderGalleryTile(item);
			}
		</ul>
	</div>
</div>

@helper RenderGalleryTile(DynamicContent item)
{
	<li class="col-md-4 col-sm-6 col-xs-12">
		<div class="mu-single-gallery">
			<div class="mu-single-gallery-item">
				<div class="mu-single-gallery-img">
					<a href="#"><img alt="img" src="@item.GetValue("SmallImageLink")"></a>
				</div>
				<div class="mu-single-gallery-info">
					<div class="mu-single-gallery-info-inner">
						<h4>@item.GetValue("DisplayTitle")</h4>
						<p>@item.GetValue("SubTitle")</p>
						<a href="#" class="mu-view-btn"><span class="fa fa-search"></span></a>
						<a href="#" class="aa-link"><span class="fa fa-link"></span></a>
						<!-- Iteam detail view -->
						<div class="portfolio-detail">
							<a href="#" class="modal-close-btn"><span class="fa fa-times"></span></a>
							<img src="@item.GetValue("BigImageLink")" alt="img-9" />
							<h2>@item.GetValue("GalleryItemTitle")</h2>
							<p>@item.GetValue("LongDescription")</p>
							<a href="#" class="view-project-btn">Live Demo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
}