@using System.Web.Optimization
@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using SitefinityWebApp.Utilities

<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		@if (!SitefinityContext.IsBackend)
		{
			<link href="~/Styles/bootstrap.css" rel="stylesheet" />
		}

		@Styles.Render("~/Styles/master")
    </head>
    <body>
		@{ Html.RenderAction("Index", "Header"); }
		@{ Html.RenderAction("Index", "Navigation"); }
		@RenderSection("Breadcrumb", required: true)

		<div class="mu-course-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-course-content-area">
							<div class="row">
								@RenderBody()
								@Aside()
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@{ Html.RenderAction("Index", "Footer"); }

		@if (!SitefinityContext.IsBackend)
		{
			<script src="~/Scripts/jquery.min.js"></script>
		}

		@Scripts.Render("~/bundles/master")

		@RenderSection("script", false)
</body>
</html>

@helper  Aside() {
	<div class="col-md-3">
		<!-- start sidebar -->
		<aside class="mu-sidebar">
			<!-- start single sidebar -->
			<div class="mu-single-sidebar">
				<h3>Categories</h3>
				<ul class="mu-sidebar-catg">
					<li><a href="#">Web Design</a></li>
					<li><a href="">Web Development</a></li>
					<li><a href="">Math</a></li>
					<li><a href="">Physics</a></li>
					<li><a href="">Camestry</a></li>
					<li><a href="">English</a></li>
				</ul>
			</div>
			<!-- end single sidebar -->
			<!-- start single sidebar -->
			<div class="mu-single-sidebar">
				<h3>Popular Course</h3>
				<div class="mu-sidebar-popular-courses">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="/Contents/Images/courses/1.jpg" alt="img">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><a href="#">Medical Science</a></h4>
							<span class="popular-course-price">$200.00</span>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="/Contents/Images/courses/2.jpg" alt="img">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><a href="#">Web Design</a></h4>
							<span class="popular-course-price">$250.00</span>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="/Contents/Images/courses/3.jpg" alt="img">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><a href="#">Health & Sports</a></h4>
							<span class="popular-course-price">$90.00</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end single sidebar -->
			<!-- start single sidebar -->
			<div class="mu-single-sidebar">
				<h3>Archives</h3>
				<ul class="mu-sidebar-catg mu-sidebar-archives">
					<li><a href="#">May <span>(25)</span></a></li>
					<li><a href="">June <span>(35)</span></a></li>
					<li><a href="">July <span>(20)</span></a></li>
					<li><a href="">August <span>(125)</span></a></li>
					<li><a href="">September <span>(45)</span></a></li>
					<li><a href="">October <span>(85)</span></a></li>
				</ul>
			</div>
			<!-- end single sidebar -->
			<!-- start single sidebar -->
			<div class="mu-single-sidebar">
				<h3>Tags Cloud</h3>
				<div class="tag-cloud">
					<a href="#">Health</a>
					<a href="#">Science</a>
					<a href="#">Sports</a>
					<a href="#">Mathematics</a>
					<a href="#">Web Design</a>
					<a href="#">Admission</a>
					<a href="#">History</a>
					<a href="#">Environment</a>
				</div>
			</div>
			<!-- end single sidebar -->
		</aside>
		<!-- / end sidebar -->
	</div>
}