@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using System.Web.Optimization

<!DOCTYPE html>
<html>
	<head id="Head1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Varsity | Home</title>

		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
		@if (!SitefinityContext.IsBackend)
		{
			<link href="~/Styles/bootstrap.css" rel="stylesheet" />
		}
		@Styles.Render("~/Styles/master")
	</head>
	<body>
		<!--START SCROLL TOP BUTTON -->
		<a class="scrollToTop" href="#">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- END SCROLL TOP BUTTON -->

		@if (!SitefinityContext.IsBackend)
		{
			<script src="~/Scripts/jquery.min.js"></script>
		}
		
		@Scripts.Render("~/bundles/master")

		<div class="sfPublicWrapper" id="PublicWrapper">
			@Html.SfPlaceHolder("headerPlaceholder")
			@Html.SfPlaceHolder("navBarPlaceholder")
			@Html.SfPlaceHolder("breadcrumbPlaceHolder")
			@Html.SfPlaceHolder("contentPlaceholder")
			@Html.SfPlaceHolder("footerPlaceholder")
		</div>
	</body>
</html>