@{
	Layout = null;
}

@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using System.Web.Optimization
@model Telerik.Sitefinity.DynamicModules.Model.DynamicContent

@if (!SitefinityContext.IsBackend)
{
	<link href="~/Styles/bootstrap.css" rel="stylesheet" />
}
@Styles.Render("~/Styles/master")

@if (!SitefinityContext.IsBackend)
{
	<script src="~/Scripts/jquery.min.js"></script>
}

@Scripts.Render("~/bundles/master")

<section class="mu-course-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-course-content-area">
					<div class="row">
						<div class="col-md-9">
							<!-- start course content container -->
							<div class="mu-course-container mu-course-details">
								<div class="row">
									<div class="col-md-12">
										<div class="mu-latest-course-single">
											<figure class="mu-latest-course-img">
												<a href="#"><img src="@Model.GetValue("ImageLink")" alt="img"></a>
												<figcaption class="mu-latest-course-imgcaption">
													<a href="#">@Model.GetValue("Type")</a>
													<span><i class="fa fa-clock-o"></i>@Model.GetValue("Days") Days</span>
												</figcaption>
											</figure>
											<div class="mu-latest-course-single-content">
												<h2><a href="#">@Model.GetValue("DisplayTitle")</a></h2>
												<h4>Course Information</h4>
												<ul>
													<li> <span>Course Price</span> <span>@Model.GetValue("Price")</span></li>
													<li> <span>Place</span> <span>@Model.GetValue("Place")</span></li>
													<li> <span>Total Students</span> <span>@Model.GetValue("TotalStudent")</span></li>
													<li> <span>Course Duration</span> <span>@Model.GetValue("CourseDuration")</span></li>
													<li> <span>Course Start</span> <span>@Model.GetValue("CourseStart")</span></li>
												</ul>
												<h4>Description</h4>
												@Html.Raw(Model.GetValue("LongDescription"))
												<h4>Course Outline</h4>
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th> Title </th>
																<th> Course Time </th>
																<th> Spent Time </th>
																<th> Status </th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td> 1. Topic 1 </td>
																<td> 15:30 </td>
																<td> 13:80 </td>
																<td> Successful </td>
															</tr>
															<tr>
																<td> 2. Topic 2 </td>
																<td> 15:30 </td>
																<td> 13:80 </td>
																<td> Successful </td>
															</tr>
															<tr>
																<td> 3. Topic 3 </td>
																<td> 15:30 </td>
																<td> - </td>
																<td> Successful </td>
															</tr>
															<tr>
																<td> 4. Topic 4 </td>
																<td> 15:30 </td>
																<td> 13:80 </td>
																<td> Successful </td>
															</tr>
															<tr>
																<td> 5. Topic 5 </td>
																<td> 15:30 </td>
																<td> - </td>
																<td> Waiting </td>
															</tr>
															<tr>
																<td> 6. Topic 6 </td>
																<td> 15:30 </td>
																<td> 13:80 </td>
																<td> - </td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end course content container -->
							<!-- start related course item -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-related-item">
										<h3>Related Courses</h3>
										<div class="mu-related-item-area">
											<div id="mu-related-item-slide">
												<div class="col-md-6">
													<div class="mu-latest-course-single">
														<figure class="mu-latest-course-img">
															<a href="#"><img alt="img" src="Contents/Images/courses/1.jpg"></a>
															<figcaption class="mu-latest-course-imgcaption">
																<a href="#">Drawing</a>
																<span><i class="fa fa-clock-o"></i>90Days</span>
															</figcaption>
														</figure>
														<div class="mu-latest-course-single-content">
															<h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
															<div class="mu-latest-course-single-contbottom">
																<a href="#" class="mu-course-details">Details</a>
																<span href="#" class="mu-course-price">$165.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mu-latest-course-single">
														<figure class="mu-latest-course-img">
															<a href="#"><img alt="img" src="Contents/Images/courses/2.jpg"></a>
															<figcaption class="mu-latest-course-imgcaption">
																<a href="#">Drawing</a>
																<span><i class="fa fa-clock-o"></i>90Days</span>
															</figcaption>
														</figure>
														<div class="mu-latest-course-single-content">
															<h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
															<div class="mu-latest-course-single-contbottom">
																<a href="#" class="mu-course-details">Details</a>
																<span href="#" class="mu-course-price">$165.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mu-latest-course-single">
														<figure class="mu-latest-course-img">
															<a href="#"><img alt="img" src="Contents/Images/courses/3.jpg"></a>
															<figcaption class="mu-latest-course-imgcaption">
																<a href="#">Drawing</a>
																<span><i class="fa fa-clock-o"></i>90Days</span>
															</figcaption>
														</figure>
														<div class="mu-latest-course-single-content">
															<h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
															<div class="mu-latest-course-single-contbottom">
																<a href="#" class="mu-course-details">Details</a>
																<span href="#" class="mu-course-price">$165.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mu-latest-course-single">
														<figure class="mu-latest-course-img">
															<a href="#"><img alt="img" src="Contents/Images/courses/1.jpg"></a>
															<figcaption class="mu-latest-course-imgcaption">
																<a href="#">Drawing</a>
																<span><i class="fa fa-clock-o"></i>90Days</span>
															</figcaption>
														</figure>
														<div class="mu-latest-course-single-content">
															<h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
															<div class="mu-latest-course-single-contbottom">
																<a href="#" class="mu-course-details">Details</a>
																<span href="#" class="mu-course-price">$165.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end start related course item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
