@{
	Layout = "~/MVC/Views/Layouts/_MVCLayout.cshtml";
	Page.Title = "Course";
}

@using SitefinityWebApp.Utilities
@model List<Telerik.Sitefinity.DynamicModules.Model.DynamicContent>

@{ 
	int maxPage = ViewBag.MaxPage;
	int currentPage = ViewBag.CurrentPage;
	var pageName = ViewContext.RouteData.Values["controller"].ToString();
}

@section Breadcrumb {
	@{ Html.RenderPartial("_Breadcrumb", pageName); }
}

<div class="col-md-9">
							<!-- start course content container -->
							<div class="mu-course-container">
								<div class="row">
									@foreach (var item in Model)
									{
										<div class="col-md-6 col-sm-6">
											@{ Html.RenderPartial("_SliderTileCourse", item); }
										</div>
									}
								</div>
							</div>
							<!-- end course content container -->
							<!-- start course pagination -->
							<div class="mu-pagination">
								<nav>
									<ul class="pagination">
										<li>
											<a href="@HtmlHelpers.ActionLink("Course", "Index", "CourseArchive", new Dictionary<string, string> { { "page", (currentPage - 1).ToString()} })" aria-label="Previous" class="btn @(currentPage == 0 ? "disabled" : "")">
												<span class="fa fa-angle-left"></span> Prev
											</a>
										</li>
										@for (var i = 1; i <= maxPage; i++)
										{
											<li class="@(i == currentPage ? "active" : "")"><a href="@HtmlHelpers.ActionLink("Course", "Index", "CourseArchive", new Dictionary<string, string> { { "page", i.ToString() } })">@i</a></li>
										}
										<li>
											<a href="@HtmlHelpers.ActionLink("Course", "Index", "CourseArchive", new Dictionary<string, string> { { "page", (currentPage + 1).ToString()} })" aria-label="Next" class="btn @(currentPage >= maxPage ? "disabled" : "")">
												Next <span class="fa fa-angle-right"></span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<!-- end course pagination -->
						</div>
