@model  IList<SitefinityWebApp.Mvc.Models.NavigationModel>

<section id="mu-menu">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- LOGO -->
				<!-- TEXT BASED LOGO -->
				<a class="navbar-brand" href="index.html"><i class="fa fa-university"></i><span>Varsity</span></a>
				<!-- IMG BASED LOGO	-->
				<!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
					@for (var i = 0; i < Model.Count; i++)
					{
						var item = Model.ElementAtOrDefault(i);
						if (item.Children == null || !item.Children.Any())
						{

							<li class=@(i == 0 ? "active" : string.Empty)><a href="@item.Link">@item.DisplayText</a></li>
						}
						else
						{
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.DisplayText<span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu" role="menu">
									@for (var j = 0; j < item.Children.Count; j++)
									{
										var childItem = item.Children.ElementAtOrDefault(j);
										<li><a href="@childItem.Link">@childItem.DisplayText</a></li>
									}
								</ul>
							</li>
						}
					}
					<li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</section>

  <!-- Start search box -->
<div id="mu-search">
	<div class="mu-search-area">
		<button class="mu-search-close"><span class="fa fa-close"></span></button>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="mu-search-form">
						<input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End search box -->